/* html{
    font-size: 0.873vw; 16px
}  */

header {
    border-bottom: 0px;
}

#cock-container {
    border-bottom: 1px;
}

.inusible-link{
    color: transparent;
    text-decoration: none;
}


#text-contact {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.85rem;
    text-transform: uppercase;
}




section{
    letter-spacing: 0.03125rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.name-center{
    color: #222;
    font-weight: bold;
}
.assessment{
    margin-top: 0.5rem;
}



.contact > p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.contact div {
    margin-top: 1.5rem;
}

.contact div p {
    margin: 0;
}


@media (min-width: 1440px) {

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }

    #cock-container img {
        width: 4.14rem;
    }

    #text-contact {
        font-size: 3.85rem;
        margin-left: 5.14rem;
        margin-right: 5.14rem;
    }

    #contacts {
        display: grid;
        grid-template-columns: repeat(4,auto);
        margin: 3rem 14rem 4.5rem 14rem;
        gap: 3rem;
        /* justify-content: center; */
    }

    .name-center{
        font-size: 1.5rem;
    } 

    .assessment img {
        width: 1.125rem;
    }

    .assessment, section p{
        font-size: 1.125rem;
    }

    .contact span, .contact p :not(.long-address){
        width: 14rem;
    }

    .long-address{
        width: 18rem;
    }

    #telephone-email {
        margin: 0 0 4.5rem 14rem;
    }
    #telephone-email p {
        margin: 0;
        margin-bottom: 0.25rem;
    }

    #telephone-email div:first-child{
        margin-bottom: 0.56rem;
    }
}

@media (min-width: 1000px) and (max-width: 1440px){

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }
    
    #cock-container img {
        width: 4.14rem;
    }
    
    #text-contact {
        font-size: 3.85rem;
        margin-left: 5.14rem;
        margin-right: 5.14rem;
    }
    
    #contacts {
        display: grid;
        grid-template-columns: repeat(4,auto);
        margin: 3rem 8rem 4.5rem 8rem;
        gap: 3rem;
    }
    
    .name-center{
        font-size: 1.8rem;
    }     

    .assessment img {
        width: 1.4rem;
    }
    
    .assessment, section p{
        font-size: 1.4rem;
    }
    

    .contact span, .contact p :not(.long-address){
        width: 19rem;
    }
    
    .long-address{
        width: 23rem;
    }

     #telephone-email {
        margin: 0 0.1rem 4.5rem 8rem;
     }
     #telephone-email p {
        margin: 0;
        margin-bottom: 0.25rem;
     }
    
     #telephone-email div:first-child{
        margin-bottom: 0.56rem;
     }
}

@media only screen and (max-width: 1000px) {

    nav{
        left: 2.1rem; 
        right: 2.1rem;
    }
    
    nav ul span {
        text-decoration: underline;
        background-color: #ECEFF1;
        padding: 1rem;
    }

    #text-contact {
        width: 60rem;
        font-size: 6rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #contacts {
        padding-top: 3rem ;
        /* text-align: center; */
        padding-left: 9rem;
        padding-right: 9rem;
    }

    .contact {
        margin-bottom: 7rem;
    }

    .name-center, .assessment   {
        font-size: 4rem;
    }     

    .assessment img {
        width: 3rem;
    }
    
    section p{
        font-size: 3rem;
    }
    

    .contact span, .contact p :not(.long-address){
        width: 100%;
    }
    
     #telephone-email {
        margin: 0 0.1rem 4.5rem 8rem;
     }
     #telephone-email p {
        margin: 0;
        margin-bottom: 0.25rem;
     }
    
     #telephone-email div:first-child{
        margin-bottom: 0.56rem;
     }
}

@media only screen and (max-width: 1000px)  and (orientation: landscape){
    
    
    #text-contact {
        font-size: 3.85rem;
        margin-left: 5.14rem;
        margin-right: 5.14rem;
    }
    
    #contacts {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto auto;
        margin: 3rem 8rem 4.5rem 8rem;
        padding: 0;
        padding-left: 17rem;
        gap: 3rem;
    }
    
    .name-center{
        font-size: 4rem;
    }     

    .assessment img {
        width: 3rem;
    }
    
    .assessment, section p{
        font-size: 3rem;
    }
    

    .contact span, .contact p :not(.long-address){
        width: 19rem;
    }
    
     #telephone-email {
        margin: 0 0.1rem 4.5rem 8rem;
     }
     #telephone-email p {
        margin: 0;
        margin-bottom: 0.25rem;
     }
     #telephone-email {
        margin: 0 0.1rem 4.5rem 24.5rem;
     }
    
     #telephone-email div:first-child{
        margin-bottom: 0.56rem;
     }

}