/* html{
    font-size: 0.873vw; 16px
}  */

.invisible-link{
    color: transparent;
    text-decoration: none;
}

section{
    width:  fit-content;
    letter-spacing: 0.03125rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

#visit-order{
    background-color: #e64a19;
    pointer-events: none; 
}

#input-fields-block{
    width: fit-content;
}

@media (min-width: 1440px) {

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }
    section{
        width:  fit-content;
        margin: 0 auto;
    }
    #information-about-order {
        display: grid;
        grid-template-columns: auto auto;
        margin: 3rem auto 2rem;
        gap: 14.31rem;
        width: fit-content;
    }

    #input-fields-block{
        width: fit-content;
    }

    #header-name {
        display: flex; 
        align-items: center; 
        margin-bottom: 3.06rem;
    }
    
    #header-name img {
        width: 3.56rem;
    }

    #header-name span {
        margin: 0 1.5rem;
        font-size: 2rem;
        font-weight: bold;
    } 

    #input-fields {
        display: grid;
        grid-template-columns: 8.7rem 16.625rem;
        grid-template-rows: repeat(3,auto);
        font-size: 0.875rem;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
        width: fit-content;
    }

    #input-fields  input {
        border-radius: 0.25rem;
        border: 1px solid rgba(14, 10, 0, 0.50);
        height: 1.5rem;
    }

    #input-fields  input:last-child {
        height: 2.875rem;
    }

    #payment {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    #payment>span {
        width: 30%;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #payment label {
        display: flex;
        cursor: pointer; 
        margin-bottom: 0.5rem;
        align-items: center;
        font-size: 0.875rem;
    }

    #payment label:last-child {
        margin-bottom: 0;
    }    
    
    input[type="radio"] {
        display: none;
    }
    
    .custom-radio {
        width: 0.75rem;
        height: 0.75rem;
        border: 1px solid black; 
        border-radius: 50%;
        margin-right: 0.5rem; 
        position: relative;
        background-color: transparent;
    }
    
    input[type="radio"]:checked + .custom-radio {
        border-color: #EB6B32;
    }

    input[type="radio"]:checked {
        background-color: #EB6B32;
    }
    
    .custom-radio::after {
        content: '';
        width: 0.5rem; 
        height: 0.5rem; 
        background: transparent; 
        border-radius: 50%; 
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    input[type="radio"]:checked + .custom-radio::after {
        opacity: 1;
        background: #EB6B32; 
    }

    .final-order {
        width: 30rem;
        background-image: url(../img/frame-order.png);
        background-size: contain; 
        background-repeat: no-repeat;
        color: #222; 
        padding: 3rem ;
    }
    
    .final-order h2 {
        font-size: 1.5rem;
        margin:0;
        margin-bottom: 1.5rem;
    }
    .item-order{
        margin-bottom: 0.75rem;
    }

    .final-order .item-order:last-child{
        margin-bottom: 0;
    }

    .pizza-name {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 0.25rem;
        font-weight: bold;
        font-size: 1.125rem;
    }
    
    .item-order>span {
        font-size: 0.75rem;
    }

    .line {
        display: block; 
        width: 100%;
        height: 2px; 
        background: rgba(14, 10, 0, 0.50); 
        margin: 1.5rem 0;
    }

    .total {
        display: flex; 
        justify-content: space-between;
        font-weight: bold;
        font-size:1.125rem;
    }

    .submit-button {
        width: 16rem;
        font-size: 0.875rem ;
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
        color:#FFFDFA;
        background: #EB6B32;
        border: #EB6B32;
        padding: 0.85rem 4rem
    }

    .submit-button:hover {
        background-color: #e64a19;
    }
}

@media (min-width: 1000px) and (max-width: 1440px){

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }
    section{
        margin: 0 auto;
    }
    #information-about-order {
        display: grid;
        grid-template-columns: auto auto;
        margin: 3rem auto 2rem;
        gap: 10rem;
        width: fit-content;
    }

    #header-name {
        display: flex; 
        align-items: center; 
        margin-bottom: 3.06rem;
    }
    
    #header-name img {
        width: 3.56rem;
    }

    #header-name span {
        margin: 0 1.5rem;
        font-size: 3rem;
        font-weight: bold;
    } 

    #input-fields {
        display: grid;
        grid-template-columns: 15rem 16.625rem;
        grid-template-rows: repeat(3,auto);
        font-size: 1.2rem;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
        width: fit-content;
    }

    #input-fields  input {
        border-radius: 0.25rem;
        border: 1px solid rgba(14, 10, 0, 0.50);
        height: 2rem;
    }

    #input-fields  input:last-child {
        height: 5rem;
    }

    #payment {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    #payment>span {
        width: 100%;
        font-weight: bold;
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    #payment label {
        display: flex;
        cursor: pointer; 
        margin-bottom: 0.5rem;
        align-items: center;
        font-size: 1.2rem;
    }

    #payment label:last-child {
        margin-bottom: 0;
    }    
    
    input[type="radio"] {
        display: none;
    }
    
    .custom-radio {
        width: 0.75rem;
        height: 0.75rem;
        border: 1px solid black; 
        border-radius: 50%;
        margin-right: 0.5rem; 
        position: relative;
        background-color: transparent;
    }
    
    input[type="radio"]:checked + .custom-radio {
        border-color: #EB6B32;
    }

    input[type="radio"]:checked {
        background-color: #EB6B32;
    }
    
    .custom-radio::after {
        content: '';
        width: 0.5rem; 
        height: 0.5rem; 
        background: transparent; 
        border-radius: 50%; 
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    input[type="radio"]:checked + .custom-radio::after {
        opacity: 1;
        background: #EB6B32; 
    }

    .final-order {
        width: 35rem;
        background-image: url(../img/frame-order.png);
        background-size: contain; 
        background-repeat: no-repeat;
        color: #222; 
        padding: 3rem ;
    }
    
    .final-order h2 {
        font-size: 2.2rem;
        margin:0;
        margin-bottom: 1.5rem;
    }
    .item-order{
        margin-bottom: 0.75rem;
    }

    .final-order .item-order:last-child{
        margin-bottom: 0;
    }

    .pizza-name {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 0.25rem;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .item-order>span {
        font-size: 1.2rem;
    }

    .line {
        display: block; 
        width: 100%;
        height: 2px; 
        background: rgba(14, 10, 0, 0.50); 
        margin: 1.5rem 0;
    }

    .total {
        display: flex; 
        justify-content: space-between;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .submit-button {
        width: 19rem;
        font-size: 1.2rem ;
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
        color:#FFFDFA;
        background: #EB6B32;
        border: #EB6B32;
        padding: 0.85rem 4rem;
        text-align: center;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: #e64a19;
    }
}

@media only screen and (max-width: 1000px) {

    nav{
        left: 2.1rem; 
        right: 2.1rem;
    }
    
    nav ul span {
        text-decoration: underline;
        background-color: #ECEFF1;
        padding: 1rem;
    }

    section{
        padding-top: 7rem ;
        padding-left: 9rem;
        padding-right: 9rem;
    }

    #header-name {
        display: flex; 
        align-items: center; 
        margin-bottom: 7rem;
    }
    
    #header-name img {
        width: 10% ;
    }

    #header-name span {
        margin: 0 1.5rem;
        font-size: 6rem;
        font-weight: bold;
        margin: 0 auto;
    } 

    #input-fields {
        display: grid;
        grid-template-columns: 36rem auto;
        grid-template-rows: repeat(3,auto);
        font-size: 3.5rem;
        grid-row-gap: 3rem;
        grid-column-gap: 2rem;
        align-items: center;
        margin-bottom: 6rem;
        width: fit-content;
    }

    #input-fields  input {
        border-radius: 0.25rem;
        border: 1px solid rgba(14, 10, 0, 0.50);
        height: 3.5rem;
        width: 40rem;
    }

    #input-fields  input:last-child {
        height: 7rem;
    }

    #payment {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-bottom: 5rem;
    }

    #payment>span {
        width: 100%;
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    #payment label {
        display: flex;
        cursor: pointer; 
        margin-bottom: 2rem;
        align-items: center;
        font-size: 3.2rem;
    }

    #payment label:last-child {
        margin-bottom: 0;
    }    
    
    input[type="radio"] {
        display: none;
    }
    
    .custom-radio {
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid black; 
        border-radius: 50%;
        margin-right: 3rem; 
        position: relative;
        background-color: transparent;
    }
    
    input[type="radio"]:checked + .custom-radio {
        border-color: #EB6B32;
    }

    input[type="radio"]:checked {
        background-color: #EB6B32;
    }
    
    .custom-radio::after {
        content: '';
        width: 2.5rem; 
        height: 2.5rem; 
        background: transparent; 
        border-radius: 50%; 
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    input[type="radio"]:checked + .custom-radio::after {
        opacity: 1;
        background: #EB6B32; 
    }

    .final-order {
        /* width: 200px; */
        background-image: url(../img/frame-footer.png);
        background-size: contain; 
        background-repeat: no-repeat;
        color: #222; 
        padding: 6rem ;
    }
    
    .final-order h2 {
        font-size: 4rem;
        margin:0;
        margin-bottom: 3rem;
    }
    .item-order{
        margin-bottom: 2rem;
    }

    .final-order .item-order:last-child{
        margin-bottom: 0;
    }

    .pizza-name {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 3rem;
    }
    
    .item-order>span {
        font-size: 2.5rem;
    }

    .line {
        display: block; 
        width: 100%;
        height: 2px; 
        background: rgba(14, 10, 0, 0.50); 
        margin: 1.5rem 0;
    }

    .total {
        display: flex; 
        justify-content: space-between;
        font-weight: bold;
        font-size: 3rem;
    }

    .submit-button {
        margin-top: 3rem;
        width: fit-content;
        font-size: 4rem ;
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
        color:#FFFDFA;
        background: #EB6B32;
        border: #EB6B32;
        padding: 0.85rem 4rem;
        text-align: center;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: #e64a19;
    }
}
