/* html{
    font-size: 0.873vw; 16px
}  */

.invisible-link{
    color: transparent;
    text-decoration: none;
}

section{
    width:  fit-content;
    letter-spacing: 0.03125rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}


#input-fields-block{
    width: fit-content;
}

#header-name {
    display: flex; 
    align-items: center; 
}

#header-name span {
    margin: 0 1.5rem;
    font-weight: bold;
} 

#input-fields {
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-column-gap: 2rem;
    width: fit-content;
    align-items:center ;
}

#input-fields  input {
    border-radius: 0.25rem;
    border: 1px solid rgba(14, 10, 0, 0.50);
}

#payment {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#payment>span {
    width: 100%;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#payment label {
    display: flex;
    cursor: pointer; 
    align-items: center;
}

#payment label:last-child {
    margin-bottom: 0;
}    

input[type="radio"] {
    display: none;
}

        
.custom-radio {
    border: 1px solid black; 
    border-radius: 50%; 
    position: relative;
    background-color: transparent;
}

input[type="radio"]:checked + .custom-radio {
    border-color: #EB6B32;
}

input[type="radio"]:checked {
    background-color: #EB6B32;
}

.custom-radio::after {
    content: ''; 
    background: transparent; 
    border-radius: 50%; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

input[type="radio"]:checked + .custom-radio::after {
    opacity: 1;
    background: #EB6B32; 
}

.final-order {
    background-image: url(../img/frame-order.png);
    background-size: contain; 
    background-repeat: no-repeat;
    color: #222; 
}

.final-order .item-order:last-child{
    margin-bottom: 0;
}

.pizza-name {
    display: flex; 
    justify-content: space-between;
    font-weight: bold;
}


.total {
    display: flex; 
    justify-content: space-between;
    font-weight: bold;
}

.submit-button {
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
    color:#FFFDFA;
    background: #EB6B32;
    border: #EB6B32;
    text-align: center;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e64a19;
}

@media (min-width: 1440px) {

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }
    section{
        margin: 0 auto;
    }
    #information-about-order {
        display: grid;
        grid-template-columns: auto auto;
        margin: 3rem auto 2rem;
        gap: 14.31rem;
        width: fit-content;
    }

    #header-name {
        margin-bottom: 3.06rem;
    }
    
    #header-name img {
        width: 3.56rem;
    }

    #header-name span {
        font-size: 2rem;
    } 

    #input-fields {
        grid-template-columns: 8.7rem 16.625rem;
        font-size: 0.875rem;
        grid-row-gap: 1.5rem;
        margin-bottom: 2rem;
    }

    #input-fields  input {
        height: 1.5rem;
    }

    #input-fields  input:last-child {
        height: 2.875rem;
    }

    #payment>span {
        width: 30%;
        font-size: 1.5rem;
    }

    #payment label {
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
    }
    
    .custom-radio {
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.5rem; 
    }
 
    .custom-radio::after {
        width: 0.5rem; 
        height: 0.5rem; 
    }
    
    .final-order {
        width: 30rem;
        padding: 3rem ;
    }
    
    .final-order h2 {
        font-size: 1.5rem;
        margin:0;
        margin-bottom: 1.5rem;
    }
    .item-order{
        margin-bottom: 0.75rem;
    }

    .pizza-name {
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
    }
    
    .item-order>span {
        font-size: 0.75rem;
    }

    .total {
        font-size:1.125rem;
    }

    .submit-button {
        width: 16rem;
        font-size: 0.875rem ;
        padding: 0.85rem 4rem
    }
}

@media (min-width: 1000px) and (max-width: 1440px){

    nav ul span {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 50%; 
        padding: 10px;
    }
    section{
        margin: 0 auto;
    }
    #information-about-order {
        display: grid;
        grid-template-columns: auto auto;
        margin: 3rem auto 2rem;
        gap: 10rem;
        width: fit-content;
    }

    #header-name { 
        margin-bottom: 3.06rem;
    }
    
    #header-name img {
        width: 3.56rem;
    }

    #header-name span {
        font-size: 3rem;
    } 

    #input-fields {
        grid-template-columns: 15rem 16.625rem;
        font-size: 1.2rem;
        grid-row-gap: 1.5rem;
        margin-bottom: 2rem;
    }

    #input-fields  input {
        height: 2rem;
    }

    #input-fields  input:last-child {
        height: 5rem;
    }

    #payment>span {
        font-size: 2.2rem;
    }

    #payment label {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
        
    .custom-radio {
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.5rem; 
    }
    
    .custom-radio::after {
        width: 0.5rem; 
        height: 0.5rem; 
    }
    
    .final-order {
        width: 35rem;
        padding: 3rem ;
    }
    
    .final-order h2 {
        font-size: 2.2rem;
        margin:0;
        margin-bottom: 1.5rem;
    }
    .item-order{
        margin-bottom: 0.75rem;
    }

    .pizza-name {
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
    }
    
    .item-order>span {
        font-size: 1.2rem;
    }

    .total {
        font-size: 1.5rem;
    }

    .submit-button {
        width: 19rem;
        font-size: 1.2rem ;
        padding: 0.85rem 4rem;
    }
}

@media only screen and (max-width: 1000px) {

    nav{
        left: 2.1rem; 
        right: 2.1rem;
    }
    
    nav ul span {
        text-decoration: underline;
        background-color: #ECEFF1;
        padding: 1rem;
    }

    section{
        padding-top: 7rem ;
        padding-left: 9rem;
        padding-right: 9rem;
    }

    #header-name {
        margin-bottom: 7rem;
    }
    
    #header-name img {
        width: 10% ;
    }

    #header-name span {
        font-size: 6rem;
        margin: 0 auto;
    } 

    #input-fields {
        display: grid;
        grid-template-columns: 36rem auto;
        grid-template-rows: repeat(3,auto);
        font-size: 3.5rem;
        grid-row-gap: 3rem;
        grid-column-gap: 2rem;
        align-items: center;
        margin-bottom: 6rem;
        width: fit-content;
    }

    #input-fields  input {
        height: 3.5rem;
        width: 40rem;
    }

    #input-fields  input:last-child {
        height: 7rem;
    }

    #payment {
        margin-bottom: 5rem;
    }

    #payment>span {
        font-size: 4rem;
    }

    #payment label { 
        margin-bottom: 2rem;
        font-size: 3.2rem;
    }
        
    .custom-radio {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 3rem; 
    }
    
    .custom-radio::after {
        width: 2.5rem; 
        height: 2.5rem; 
    }
    
    .final-order {
        padding: 7rem ;
    }
    
    .final-order h2 {
        font-size: 4rem;
        margin:0;
        margin-bottom: 3rem;
    }
    .item-order{
        margin-bottom: 2rem;
    }

    .pizza-name {
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    
    .item-order>span {
        font-size: 2.5rem;
    }

    .total {
        font-size: 3rem;
    }

    .submit-button {
        margin-top: 3rem;
        width: fit-content;
        font-size: 4rem ;
        letter-spacing: 0.03125rem;
        padding: 1.8rem 4rem;
    }
    footer{
        margin-top: 19em;
    }
}
