
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 0.9vw; /*17,28px*/
}

body {  
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    background: #FFFCF6;
    height: auto;
    margin-left: 1.38rem;
    margin-right: 1.38rem;
    border-bottom: 0.0625rem solid #0E0A00;
    border-left: 0.0625rem solid #0E0A00;
    border-right: 0.0625rem solid #0E0A00;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center; 
    padding: 1.85rem 0rem 1.68rem 0rem; 
    border-bottom: 0.0625rem solid #0E0A00;
    text-transform: uppercase;
    letter-spacing: 0.029rem;
}

.logo-nav {
    margin-right: 6.95rem; 
    margin-left: 2.2rem;
    width: 2.43rem;
    height: 2.48rem;
}

nav ul {
    display: flex; 
    list-style: none;
    margin: 0; 
}


nav li {
    margin-right: 2.77rem; 
}

nav li:last-child {
    margin-right: 0; 
}

nav ul a {
    padding: 10px;
    color: #222;
    text-decoration: none;
    border: 1px solid transparent;
}

nav ul a:hover {
    border: 1px solid #222;
    border-radius: 50%; 
}

nav>a {
    display: flex; 
    align-items: center;
    justify-content: center;  
    height: 2.78rem;
    width: 6.95rem;;   
    margin-right: 4.16rem;
    background-color: #EB6B32;
    color: #FFFDFA;
    text-decoration: none;
    text-align: center;
}

nav>a:hover {
    background-color: #e64a19; 
}